@mixin rotate {
    @keyframes rotate{
        0% {
            transform: rotate(20deg);
          margin-top: 0px;
        }
      
        50% {
            transform: rotate(20deg);
          margin-top: 15px;
        }
      
        100% {
            transform: rotate(20deg);
          margin-top: 0px;
        }
    }
}