.portfolio{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    background-color: #1a1a1a;

    @include top-line;

    .portfolio-content{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 40% 60%; 
        padding-top: 10em;

        @include side-text;

        .works-list{
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 20px;

            ul{
                list-style: none;

                li{
                    padding: 20px 20px 40px 0px;
                    color: #fff;
                    font-size: 50px;
                    font-weight: bold;

                    &:hover>a{
                        color: rgba(255, 255, 255, 0.603);
                    }

                    a{
                        text-decoration: none;
                        color: #fff;
                        transition: 0.4s;
                    }
                }
            }

            .description{
                list-style: none;

                li{
                    padding: 21px 200px 43px 0px;
                    background-color: transparent;
                    color: #dedee2;
                    font-weight: bold;
                    color: #ffffff;
                    font-size: 20px;
                    line-height: 1.3;
                    font-weight: 400;
                    opacity: 0.8;
                }
            }
        }
    }
}